# Synthetic Vintage Generator – Demo

Este notebook mostra como criar conjuntos de dados sintéticos com a classe `SyntheticVintageGenerator`.
Vamos gerar safras mensais de um portfólio fictício.

In [1]:
import pandas as pd
import numpy as np
from riskpilot.synthetic import SyntheticVintageGenerator

In [2]:
np.random.seed(0)
base = pd.DataFrame({
    'id': range(100),
    'date': pd.date_range('2024-01-01', periods=100, freq='D'),
    'utilization': np.random.beta(2,5,100)*100,
    'age': np.random.normal(40,10,100).astype(int),
    'segment': np.random.choice(['A','B','C'], size=100)
})

In [3]:
base['date']

0    2024-01-01
1    2024-01-02
2    2024-01-03
3    2024-01-04
4    2024-01-05
        ...
95   2024-04-05
96   2024-04-06
97   2024-04-07
98   2024-04-08
99   2024-04-09
Name: date, Length: 100, dtype: datetime64[ns]

In [4]:
gen = SyntheticVintageGenerator(
    id_cols=['id'],
    date_cols=['date']
).fit(base)

In [5]:
synthetic = gen.generate(
    n_periods=3,
    freq='ME',
    scenario='base')
synthetic.head()

                                 id       date  utilization        age segment
0  f73b8c8eb8014f4c903fa97202816295 2025-06-30    29.327637  25.000000       C
1  ccffd329238f4a8390e8f0293c3f8b9f 2025-06-30    11.253387  40.000000       C
2  69f67dc3e5c34a8481b6022ee9abff43 2025-06-30    32.253716  43.000000       A
3  bc9e41bb17ca49d6be264f0269e0d35b 2025-06-30    21.403067  38.798072       A
4  2ab593c2daf04cd695c3aed44d5203ac 2025-06-30     7.279738  48.000000       A

### Ajustando ruídos específicos

In [6]:
custom_noise = {
    'utilization': {'func': np.random.exponential, 'kwargs': {'scale':50}},
}
custom_gen = SyntheticVintageGenerator(id_cols=['id'], date_cols=['date'], custom_noise=custom_noise).fit(base)
custom = custom_gen.generate(n_periods=2, freq='ME', scenario='stress')
custom.head()

                                 id       date  utilization        age segment
0  2ea345dd97044990ae52f076a42a1fec 2025-06-30    22.882767  37.000000       B
1  69ea90d929db4431aa65c49f5639c788 2025-06-30    32.891299  39.000000       C
2  1ddb97ab70b247e1b8ca02bf76f389ef 2025-06-30    35.012272  42.000000       A
3  e73ae95e82e042148e0198bde1e42e25 2025-06-30     6.227921  22.167062       B
4  14ba674cace84414807c5ba14ff19f6d 2025-06-30    47.246435  45.430923       C